{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        {% block meta %}
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
        {% endblock %}
        {% block title %}   
            <title>{% if title %}{{ title }}{% else %}Ping Pong Matches{% endif %}</title>
        {% endblock %}
        
        {% block favicon %}
        {% endblock %}

        {% include '_css_header.html' %}
    </head>
    <body class="{{body_class}}">
        <!--[if lt IE 9]>
            <div style='text-align:center; background:#dc3939; color:white; font-weight:bold; padding: 10px 0; border-bottom: 3px #FFF solid;'>
                You are using an older browser. Some features may not work.<br/> We recommend updating to a newer browser.
            </div>
        <![endif]-->
        {% block header %}{% endblock header %}
        
        {% block body %}{% endblock body %}

        {% include '_js_footer.html' %}
        {% block extrajs %}{% endblock extrajs %}
    </body>
</html>